@charset "UTF-8";
body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

body a:hover {
  color: red; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

body {
  background-color: #f3f3f3;
  font-family: Verdana, Arial, Microsoft Yahei;
  font-size: 12px;
  line-height: 16px;
  color: #666666; }

input, a {
  outline: none; }

.box {
  font-family: Verdana, Arial, Microsoft Yahei;
  font-size: 12px;
  line-height: 16px;
  color: #666666; }
  .box .index-top-wrap {
    background: url(../img/1200.jpg) no-repeat center;
    height: 100px;
    text-align: center; }
    .box .index-top-wrap .index-top {
      width: 1200px;
      margin: auto;
      height: 100px; }
      .box .index-top-wrap .index-top a:hover {
        color: red; }
        .box .index-top-wrap .index-top a:hover img {
          border: none; }
  .box .top-toolbar-wrap {
    width: 100%;
    height: 27px;
    border-bottom: 1px solid #e7e7e7;
    background: #f7f7f7;
    margin: auto;
    color: #6c5a5d; }
    .box .top-toolbar-wrap .top-toolbar {
      width: 1200px;
      line-height: 27px;
      margin: auto;
      height: 27px; }
      .box .top-toolbar-wrap .top-toolbar .toolbar-left {
        height: 27px;
        float: left;
        line-height: 27px; }
        .box .top-toolbar-wrap .top-toolbar .toolbar-left .toolbar-mobile {
          margin-right: 15px;
          height: 27px;
          float: left;
          background: url(../img/index_02.jpg) no-repeat left center;
          padding-left: 13px; }
        .box .top-toolbar-wrap .top-toolbar .toolbar-left .toolbar-wx {
          cursor: pointer;
          height: 27px;
          float: left;
          background: url(../img/wx_top.jpg) no-repeat left center;
          padding-left: 22px; }
      .box .top-toolbar-wrap .top-toolbar .toolbar-right {
        height: 27px;
        float: right;
        line-height: 27px; }
        .box .top-toolbar-wrap .top-toolbar .toolbar-right .toolbar-right-list {
          margin-right: 15px;
          line-height: 27px; }
  .box .index-header-wrap {
    width: 100%;
    height: 110px;
    margin: auto;
    background: #FFF; }
    .box .index-header-wrap .index-header {
      width: 1200px;
      height: 100px;
      margin: auto;
      position: relative; }
      .box .index-header-wrap .index-header .header-logo {
        width: 350px;
        height: 100px;
        float: left; }
        .box .index-header-wrap .index-header .header-logo a {
          cursor: pointer; }
          .box .index-header-wrap .index-header .header-logo a img {
            border: 0;
            float: left; }
      .box .index-header-wrap .index-header .header-search {
        width: 650px;
        height: 100px;
        float: left; }
        .box .index-header-wrap .index-header .header-search .header-search-box {
          width: 540px;
          height: 36px;
          margin: 30px 0 0 38px;
          overflow: hidden; }
          .box .index-header-wrap .index-header .header-search .header-search-box form {
            display: block; }
            .box .index-header-wrap .index-header .header-search .header-search-box form .search-box {
              width: 454px;
              height: 32px;
              border: 2px solid #bd3a31;
              float: left; }
              .box .index-header-wrap .index-header .header-search .header-search-box form .search-box .search-box-kk {
                width: 454px;
                height: 32px;
                font-size: 13px;
                font-family: "Microsoft Yahei";
                line-height: 32px;
                color: #666666;
                border: 0;
                margin: 0;
                padding: 0; }
            .box .index-header-wrap .index-header .header-search .header-search-box form .search-box-btn {
              width: 79px;
              height: 36px;
              float: left;
              background-color: #bd3a31;
              text-align: center; }
              .box .index-header-wrap .index-header .header-search .header-search-box form .search-box-btn a {
                width: 79px;
                height: 36px;
                display: block;
                color: #FFF;
                font-size: 16px;
                line-height: 36px;
                font-family: "Microsoft Yahei"; }
        .box .index-header-wrap .index-header .header-search .header-search-gjc {
          width: 540px;
          height: 16px;
          margin: 5px 0 0 38px;
          line-height: 16px;
          font-family: "Microsoft Yahei"; }
          .box .index-header-wrap .index-header .header-search .header-search-gjc ul {
            margin: 0;
            padding: 0;
            display: block;
            list-style-type: disc;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 40px;
            line-height: 16px; }
            .box .index-header-wrap .index-header .header-search .header-search-gjc ul li {
              float: left;
              color: #000; }
              .box .index-header-wrap .index-header .header-search .header-search-gjc ul li a:hover {
                color: red; }
            .box .index-header-wrap .index-header .header-search .header-search-gjc ul span {
              float: left;
              margin: 0 7px 0 7px; }
      .box .index-header-wrap .index-header .header-wx {
        width: 200px;
        height: 100px;
        float: left; }
  .box .index-nav-wrap {
    width: 100%;
    height: 40px;
    margin: auto;
    background: #ba2f28;
    border-bottom: solid 2px #ba2f28; }
    .box .index-nav-wrap .index-nav-zj {
      width: 1200px;
      line-height: 42px;
      margin: auto;
      position: relative; }
      .box .index-nav-wrap .index-nav-zj .index-nav-left {
        width: 215px;
        background: #ba2f28;
        height: 42px;
        float: left;
        font-family: "Microsoft Yahei";
        font-size: 16px;
        line-height: 42px;
        color: #FFFFFF;
        position: relative;
        z-index: 300; }
        .box .index-nav-wrap .index-nav-zj .index-nav-left .index-nav-left1 {
          height: 42px;
          width: 180px;
          padding-left: 20px;
          background: url(../img/index_27.png) no-repeat;
          background-position: 180px 20px; }
        .box .index-nav-wrap .index-nav-zj .index-nav-left .nav-list {
          display: none;
          width: 215px;
          height: 475px;
          overflow: hidden;
          position: absolute;
          left: 0px;
          top: 42px;
          background: #fff;
          z-index: 355; }
          .box .index-nav-wrap .index-nav-zj .index-nav-left .nav-list .nav-list-border {
            border-bottom: 1px solid #e5e5e5; }
          .box .index-nav-wrap .index-nav-zj .index-nav-left .nav-list .nav-list1 {
            width: 191px;
            height: auto;
            float: left;
            overflow: hidden;
            padding: 11px 12px 18px 12px; }
            .box .index-nav-wrap .index-nav-zj .index-nav-left .nav-list .nav-list1 .nav-list1-t {
              width: 190px;
              height: 30px;
              float: left;
              background: url(../img/nav_jt_x.png) no-repeat;
              background-position: 180px 14px;
              color: #000;
              font-size: 14px;
              line-height: 30px;
              margin-top: 3px;
              margin-bottom: 3px; }
              .box .index-nav-wrap .index-nav-zj .index-nav-left .nav-list .nav-list1 .nav-list1-t a {
                color: #000;
                font-size: 14px; }
            .box .index-nav-wrap .index-nav-zj .index-nav-left .nav-list .nav-list1 .nav-list1-c {
              width: 200px;
              float: left;
              line-height: 22px; }
              .box .index-nav-wrap .index-nav-zj .index-nav-left .nav-list .nav-list1 .nav-list1-c a {
                color: #000;
                margin-right: 15px;
                float: left;
                height: 24px;
                line-height: 24px;
                white-space: nowrap;
                display: inline;
                font-size: 12px; }
              .box .index-nav-wrap .index-nav-zj .index-nav-left .nav-list .nav-list1 .nav-list1-c .hot-nav {
                display: block;
                padding: 0px 5px 0px 5px;
                height: 22px;
                background-color: #ff9c00;
                float: left;
                color: #fff;
                border-radius: 3px; }
          .box .index-nav-wrap .index-nav-zj .index-nav-left .nav-list li:hover {
            background-color: #efefef; }
      .box .index-nav-wrap .index-nav-zj .pop-subcategory {
        position: absolute;
        border-right: 1px solid #ba2f28;
        border-bottom: 1px solid #ba2f28;
        border-top: 1px solid #ba2f28;
        background: #fff;
        box-shadow: 2px 2px 3px rgba(55, 55, 55, 0.05);
        color: #666666;
        line-height: 22px; }
        .box .index-nav-wrap .index-nav-zj .pop-subcategory ul {
          float: left; }
          .box .index-nav-wrap .index-nav-zj .pop-subcategory ul li {
            color: #666666;
            border-bottom: 1px dotted #d0d0d0;
            float: left;
            padding-bottom: 5px;
            margin-top: 5px; }
            .box .index-nav-wrap .index-nav-zj .pop-subcategory ul li .left-list {
              color: #0e0e0e;
              float: left;
              width: 80px;
              text-align: right;
              font-size: 13px;
              font-family: "Microsoft Yahei"; }
            .box .index-nav-wrap .index-nav-zj .pop-subcategory ul li .right-list-a {
              width: 360px;
              float: left;
              overflow: hidden; }
              .box .index-nav-wrap .index-nav-zj .pop-subcategory ul li .right-list-a .list-a-item {
                margin: 0 5px 0 5px;
                line-height: 22px;
                font-size: 12px;
                float: left; }
      .box .index-nav-wrap .index-nav-zj .index-nav-right {
        width: 970px;
        line-height: 42px;
        padding-left: 13px;
        height: 40px;
        font-size: 16px;
        float: left; }
        .box .index-nav-wrap .index-nav-zj .index-nav-right .nav-li {
          height: 42px;
          line-height: 42px;
          float: left;
          font-family: "Microsoft Yahei";
          color: #fff;
          display: block; }
          .box .index-nav-wrap .index-nav-zj .index-nav-right .nav-li a {
            font-size: 15px;
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 0 26px 0 26px; }
            .box .index-nav-wrap .index-nav-zj .index-nav-right .nav-li a:hover {
              background: #9c0700; }
  .box .order-main-wrap {
    width: 100%; }
    .box .order-main-wrap .order-main {
      width: 1200px;
      margin: 8px auto 0; }
      .box .order-main-wrap .order-main .order-left {
        width: 180px;
        float: left;
        margin-right: 8px;
        display: inline;
        overflow: hidden;
        background-color: #FFF; }
        .box .order-main-wrap .order-main .order-left .order-user-info {
          padding-bottom: 1px;
          border: 1px solid #ccc;
          border-top: none;
          overflow: hidden; }
          .box .order-main-wrap .order-main .order-left .order-user-info .order-user-list {
            padding: 0 0px 6px; }
            .box .order-main-wrap .order-main .order-left .order-user-info .order-user-list li {
              border-top: 1px dashed #ccc;
              height: 36px;
              line-height: 33px;
              overflow: hidden;
              background: url(../img/d.png) no-repeat 18px 14px;
              text-indent: 20px; }
              .box .order-main-wrap .order-main .order-left .order-user-info .order-user-list li:hover {
                background: url(../img/d.png) no-repeat 18px 14px #edebeb; }
              .box .order-main-wrap .order-main .order-left .order-user-info .order-user-list li a {
                font-size: 14px;
                margin-left: 7px; }
            .box .order-main-wrap .order-main .order-left .order-user-info .order-user-list .noboder {
              border-top: none; }
          .box .order-main-wrap .order-main .order-left .order-user-info .user-info-tit {
            background: url(../img/user_11.jpg) no-repeat;
            width: 178px;
            height: 30px;
            text-indent: 30px;
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            line-height: 28px; }
      .box .order-main-wrap .order-main .order-right {
        width: 1012px;
        float: left;
        display: inline;
        background-color: #FFF; }
        .box .order-main-wrap .order-main .order-right .order-right-info {
          height: auto !important;
          height: 833px;
          padding-bottom: 20px;
          border: 1px solid #cccccc; }
          .box .order-main-wrap .order-main .order-right .order-right-info .right-info-tit {
            height: 36px;
            border-bottom: 3px solid #d6d6d6;
            background: #fafafa;
            line-height: 36px;
            color: #cc0000;
            font-weight: bold;
            font-size: 14px;
            padding: 0 20px; }
          .box .order-main-wrap .order-main .order-right .order-right-info .right-info-con {
            padding-top: 20px;
            overflow: hidden; }
            .box .order-main-wrap .order-main .order-right .order-right-info .right-info-con .order-page {
              width: 972px;
              height: auto;
              float: left;
              margin-left: 15px; }
              .box .order-main-wrap .order-main .order-right .order-right-info .right-info-con .order-page td {
                font-family: "微软雅黑";
                font-size: 12px; }
                .box .order-main-wrap .order-main .order-right .order-right-info .right-info-con .order-page td select {
                  border: 1px solid #bbb; }
          .box .order-main-wrap .order-main .order-right .order-right-info .user-order-list {
            display: block; }
            .box .order-main-wrap .order-main .order-right .order-right-info .user-order-list strong {
              color: #cc0000; }
            .box .order-main-wrap .order-main .order-right .order-right-info .user-order-list .kd-pic {
              width: 972px; }
              .box .order-main-wrap .order-main .order-right .order-right-info .user-order-list .kd-pic li {
                height: 100px;
                width: 193px;
                text-align: center;
                float: left; }
                .box .order-main-wrap .order-main .order-right .order-right-info .user-order-list .kd-pic li a {
                  display: block; }
                  .box .order-main-wrap .order-main .order-right .order-right-info .user-order-list .kd-pic li a img {
                    height: 60px;
                    margin: 0 auto; }
                .box .order-main-wrap .order-main .order-right .order-right-info .user-order-list .kd-pic li .kd-name {
                  display: block;
                  height: 40px;
                  line-height: 40px; }
  .box .index-footer-wrap {
    background: url(../img/foot_x.jpg) repeat-x left top #f5f5f5;
    padding: 20px auto auto auto;
    font-family: "Microsoft Yahei";
    width: 100%; }
    .box .index-footer-wrap .footer-help1 {
      width: 1200px;
      padding-bottom: 6px;
      margin: auto;
      overflow: hidden; }
      .box .index-footer-wrap .footer-help1 .help1-list1 {
        width: 146px;
        height: 126px;
        float: left;
        background: url(../img/zpbz.jpg) no-repeat;
        background-position: 20px 0;
        padding: 87px 0 0 30px;
        font-size: 14px;
        margin: 30px 150px 0 0px; }
        .box .index-footer-wrap .footer-help1 .help1-list1 .f-tit {
          font-size: 16px;
          color: #666666;
          line-height: 28px; }
          .box .index-footer-wrap .footer-help1 .help1-list1 .f-tit .f-1 {
            color: #8f8f8f;
            font-size: 14px;
            line-height: 28px; }
            .box .index-footer-wrap .footer-help1 .help1-list1 .f-tit .f-1:hover {
              color: #666666; }
      .box .index-footer-wrap .footer-help1 .help1-list2 {
        background: url(../img/30days.jpg) no-repeat; }
      .box .index-footer-wrap .footer-help1 .help1-list3 {
        background: url(../img/free.jpg) no-repeat; }
      .box .index-footer-wrap .footer-help1 .help1-list4 {
        background: url(../img/gui.jpg) no-repeat;
        width: 146px;
        height: 126px;
        float: left;
        background-position: 17px 0;
        padding: 87px 0 0 38px;
        font-size: 14px;
        margin: 30px 10px 0 0px; }
    .box .index-footer-wrap .footer-help2 {
      width: 1170px;
      margin: auto;
      border: 1px solid #ebebeb;
      background: #fff;
      padding: 10px 15px 10px 15px;
      overflow: hidden; }
      .box .index-footer-wrap .footer-help2 .help2-email {
        height: 55px;
        margin-top: 10px;
        float: left;
        background: url(../img/email.jpg) no-repeat left center; }
        .box .index-footer-wrap .footer-help2 .help2-email .email-con {
          width: 205px;
          height: 52px;
          float: left;
          padding-top: 3px;
          margin-left: 63px;
          color: #a4a4a4; }
          .box .index-footer-wrap .footer-help2 .help2-email .email-con .email-input {
            width: 204px;
            height: 32px;
            float: left;
            background: url(../img/dy_email.jpg) no-repeat left center; }
            .box .index-footer-wrap .footer-help2 .help2-email .email-con .email-input .email-dy {
              width: 160px;
              height: 30px;
              border: none;
              background: none;
              line-height: 32px;
              color: #666666; }
            .box .index-footer-wrap .footer-help2 .help2-email .email-con .email-input .email-btn {
              width: 33px;
              height: 30px;
              border: none;
              background: none;
              cursor: pointer; }
      .box .index-footer-wrap .footer-help2 .help2-app {
        width: 300px;
        height: 56px;
        float: left;
        margin-left: 70px;
        margin-top: 12px; }
        .box .index-footer-wrap .footer-help2 .help2-app .app-left {
          width: 56px;
          height: 56px;
          float: left; }
        .box .index-footer-wrap .footer-help2 .help2-app .app-right {
          width: 150px;
          height: 56px;
          float: left;
          margin-left: 5px; }
          .box .index-footer-wrap .footer-help2 .help2-app .app-right .app-bottom {
            width: 146px;
            height: 20px;
            float: left; }
            .box .index-footer-wrap .footer-help2 .help2-app .app-right .app-bottom .app-bottom-img {
              margin-right: 1px;
              float: left; }
      .box .index-footer-wrap .footer-help2 .help2-guanzhu {
        width: 100px;
        height: 80px;
        float: left;
        margin-left: 60px; }
        .box .index-footer-wrap .footer-help2 .help2-guanzhu .guanzhu-list {
          width: 64px;
          height: 25px;
          float: left;
          font-size: 14px;
          line-height: 25px; }
          .box .index-footer-wrap .footer-help2 .help2-guanzhu .guanzhu-list .sina {
            background: url(../img/sian_ten.jpg) no-repeat;
            background-position: 0 0;
            width: 94px;
            height: 25px;
            display: block;
            padding-left: 30px;
            font-size: 14px; }
          .box .index-footer-wrap .footer-help2 .help2-guanzhu .guanzhu-list .qq {
            background: url(../img/sian_ten.jpg) no-repeat;
            background-position: 0 -27px;
            width: 94px;
            height: 25px;
            display: block;
            padding-left: 30px;
            font-size: 14px; }
          .box .index-footer-wrap .footer-help2 .help2-guanzhu .guanzhu-list .wx {
            background: url(../img/sian_ten.jpg) no-repeat;
            background-position: 0 -54px;
            width: 94px;
            height: 25px;
            display: block;
            padding-left: 30px;
            font-size: 14px; }
      .box .index-footer-wrap .footer-help2 .help2-hezuo {
        width: 300px;
        height: 80px;
        float: left;
        margin-left: 50px; }
    .box .index-footer-wrap .footer-hz {
      width: 1200px;
      height: 45px;
      margin: 20px auto auto auto; }
    .box .index-footer-wrap .footer-bottom {
      background: #fff;
      border-top: 1px solid #f0f0f0;
      padding-bottom: 15px;
      margin-top: 20px; }
      .box .index-footer-wrap .footer-bottom .bottom-main {
        width: 980px;
        margin: auto;
        text-align: center;
        line-height: 28px;
        margin-top: 20px; }
        .box .index-footer-wrap .footer-bottom .bottom-main .bottom-a {
          margin: 0 5px 0 5px; }
    .box .index-footer-wrap .bottom-link {
      width: 980px;
      margin: 10px auto auto auto; }
      .box .index-footer-wrap .bottom-link a {
        margin-right: 5px;
        color: #8f8f8f; }

/*# sourceMappingURL=order.css.map */
