body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
body a:hover{color: red;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{background: #fff; font-family: Verdana, Arial, 宋体;font-size: 12px;line-height: 16px;color: #666666;}
input,a{outline:none;}

.box{
     background-color: #fff;
     font-family: Verdana, Arial, Microsoft Yahei;
     font-size: 12px;
     line-height: 16px;
     color: #666666;
    //顶部广告
    .index-top-wrap{
        background: url(../img/120022.jpg) no-repeat center;
        height: 100px;
        text-align: center;
        .index-top{
            width: 1200px;
            margin: auto;
            height: 100px;
            a:hover{
                color: red;
                img{
                    border: none;
                }
            }
        }
    }  
    
    //顶部工具栏
    .top-toolbar-wrap{
        width: 100%;
        height: 27px;
        border-bottom: 1px solid #e7e7e7;
        background: #f7f7f7;
        margin: auto;
        color: #6c5a5d;
        .top-toolbar{
            width: 1200px;
            line-height: 27px;
            margin: auto;
            height: 27px;
            .toolbar-left{
                height: 27px;
                float: left;
                line-height: 27px;
                .toolbar-mobile{
                    margin-right: 15px;
                    height: 27px;
                    float: left;
                    background: url(../img/index_02.jpg) no-repeat left center;
                    padding-left: 13px;
                }.toolbar-wx{
                    cursor: pointer;
                    height: 27px;
                    float: left;
                    background: url(../img/wx_top.jpg) no-repeat left center;
                    padding-left: 22px;
                }
            }.toolbar-right{
                height: 27px;
                float: right;
                line-height: 27px;
                .toolbar-right-list{
                    margin-right: 15px;
                    line-height: 27px;
                }
            }
        }
    }
    
    //首页头部
    .index-header-wrap{
        width: 100%;
        height: 110px;
        margin: auto;
        background: #FFF;
        .index-header{
            width: 1200px;
            height: 100px;
            margin: auto;
            position: relative;
            .header-logo{
                width: 350px;
                height: 100px;
                float: left;
                a{
                    cursor: pointer;
                    img{
                        border: 0;
                        float: left;
                    }
                }               
            }.header-search{
                width: 650px;
                height: 100px;
                float: left;
                .header-search-box{
                    width: 540px;
                    height: 36px;
                    margin: 30px 0 0 38px;
                    overflow: hidden;
                    form{
                        display: block;
                        .search-box{
                            width: 454px;
                            height: 32px;
                            border: 2px solid #bd3a31;
                            float: left;
                            .search-box-kk{
                                width: 454px;
                                height: 32px;
                                font-size: 13px;
                                font-family: "Microsoft Yahei";
                                line-height: 32px;
                                color: #666666;
                                border: 0;
                                margin: 0;
                                padding: 0;
                            }
                        }.search-box-btn{
                            width: 79px;
                            height: 36px;
                            float: left;
                            background-color: #bd3a31;
                            text-align: center;
                            a{
                                width: 79px;
                                height: 36px;
                                display: block;
                                color: #FFF;
                                font-size: 16px;
                                line-height: 36px;
                                font-family: "Microsoft Yahei";
                            }
                        }
                    }
                }.header-search-gjc{
                    width: 540px;
                    height: 16px;
                    margin: 5px 0 0 38px;
                    line-height: 16px;
                    font-family: "Microsoft Yahei";
                    ul{
                        margin: 0;
                        padding: 0;
                        display: block;
                        list-style-type: disc;
                        -webkit-margin-before: 1em;
                        -webkit-margin-after: 1em;
                        -webkit-margin-start: 0px;
                        -webkit-margin-end: 0px;
                        -webkit-padding-start: 40px;
                        line-height: 16px;
                        li{
                            float: left;
                            color: #000;
                            a:hover{
                                color: red;
                            }                           
                        }span{
                            float: left;
                            margin: 0 7px 0 7px;
                        }
                    }
                }
            }.header-wx{
                width: 200px;
                height: 100px;
                float: left;
            }
        }
    }
    
    //导航开始
    .index-nav-wrap{
        width: 100%;
        height: 40px;
        margin: auto;
        background: #ba2f28;
        border-bottom: solid 2px #ba2f28;
        .index-nav-zj{
            width: 1200px;
            line-height: 42px;
            margin: auto;
            position: relative;
            .index-nav-left{
                width: 215px;
                background: #9c0700;
                height: 42px;
                float: left;
                font-family: "Microsoft Yahei";
                font-size: 16px;
                line-height: 42px;
                color: #FFFFFF;
                position: relative;
                z-index: 300;
                .index-nav-left1{
                    height: 42px;
                    width: 180px;                   
                    padding-left: 20px;
                    background: url(../img/index_27.png) no-repeat;
                    background-position: 180px 20px;
                }.nav-list{
                    display: none;
                    width: 215px;
                    height: 475px;
                    overflow: hidden;
                    position: absolute;
                    left: 0px;
                    top: 42px;
                    background: #fff;
                    z-index: 355;
                    .nav-list-border{
                        border-bottom: 1px solid #e5e5e5;
                    }.nav-list1{
                        width: 191px;
                        height: auto;
                        float: left;
                        overflow: hidden;
                        padding: 11px 12px 18px 12px;
                        .nav-list1-t{
                            width: 190px;
                            height: 30px;
                            float: left;
                            background: url(../img/nav_jt_x.png) no-repeat;
                            background-position: 180px 14px;
                            color: #000;
                            font-size: 14px;
                            line-height: 30px;
                            margin-top: 3px;
                            margin-bottom: 3px;
                            a{
                                color: #000;
                                font-size: 14px;
                            }
                        }.nav-list1-c{
                            width: 200px;
                            float: left;
                            line-height: 22px;
                            a{
                                color: #000;
                                margin-right: 15px;
                                float: left;
                                height: 24px;
                                line-height: 24px;
                                white-space: nowrap;
                                display: inline;
                                font-size: 12px;
                            }.hot-nav{
                                display: block;
                                padding: 0px 5px 0px 5px;
                                height: 22px;
                                background-color: #ff9c00;
                                float: left;
                                color: #fff;
                                border-radius: 3px;
                            }
                        }
                    }li:hover{
                        background-color: #efefef;
                    }
                }
            }.pop-subcategory{
                position: absolute;
                border-right: 1px solid #ba2f28;
                border-bottom: 1px solid #ba2f28;
                border-top: 1px solid #ba2f28;
                background: #fff;
                box-shadow: 2px 2px 3px rgba(55, 55, 55, 0.05);
                color: #666666;
                line-height: 22px;
                ul{
                    float: left;
                    li{
                        color: #666666;
                        border-bottom: 1px dotted #d0d0d0;
                        float: left;
                        padding-bottom: 5px;
                        margin-top: 5px;
                        .left-list{
                            color: #0e0e0e;
                            float: left;
                            width: 80px;
                            text-align: right;
                            font-size: 13px;
                            font-family: "Microsoft Yahei";
                        }.right-list-a{
                            width: 360px;
                            float: left;
                            overflow: hidden;
                            .list-a-item{
                                margin: 0 5px 0 5px;
                                line-height: 22px;
                                font-size: 12px;
                                float: left;
                            }
                        }
                    }
                }
            }.index-nav-right{
                width: 970px;
                line-height: 42px;
                padding-left: 13px;
                height: 42px;
                font-size: 16px;
                float: left;
                .nav-li{
                    height: 42px;
                    line-height: 42px;
                    float: left;
                    font-family: "Microsoft Yahei";
                    color: #fff;
                    display: block;
                    a{
                        font-size: 16px;
                        color: #fff;
                        text-decoration: none;
                        display: block;
                        padding: 0 26px 0 26px;
                        &:hover{
                            background: #9c0700;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    
    //内容区
    .details-main-wrap{
        width: 100%;
        //商品详情
        .details-main-con{
            width: 1200px;
            margin: auto;
            overflow: hidden;
            background: #fff;
            .main-info-top{
                width: 1180px;
                float: left;
                height: 20px;
                line-height: 20px;
                background: url(../img/lb_03.jpg) no-repeat left center #FFFFFF;
                padding-left: 20px;
                margin-top: 10px;
            }.main-info-con{
                width: 1200px;
                float: left;
                overflow: hidden;
                margin-top: 10px;
                .info-con-left{
                    width: 286px;
                    float: left;
                    position: relative;
                    height: 488px;
                }.info-con-center{
                    width: 654px;
                    height: 522px;
                    float: left;
                    margin-left: 22px;
                    font-family: "Microsoft Yahei";
                    .con-center-mc{
                        width: 654px;
                        border-bottom: 1px dotted #bbbbbb;
                        float: left;
                        padding-bottom: 12px;
                        text-align: left;
                        h1{
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 22px;
                            color: #333;
                        }h2{
                            font-size: 16px;
                            line-height: 22px;
                            color: #666;
                            font-weight: normal;
                        }h3{
                            font-size: 16px;
                            line-height: 22px;
                            color: #d64744;
                            margin-top: 6px;
                        }.center-mc-pf{
                            float: left;
                            padding: 12px 0 0px 0;
                            .t{
                                float: left;
                                font-size: 14px;
                            }
                        }
                    }.con-center-price{
                        width: 654px;
                        border-bottom: 1px dotted #bbbbbb;
                        float: left;
                        padding-bottom: 10px;
                        margin-top: 15px;
                        .now-price{
                            width: 654px;
                            float: left;
                            font-size: 14px;
                            line-height: 44px;
                            text-align: left;
                            b{
                                color: #e63549;
                            }
                        }
                    }.con-center-num{
                        width: 654px;
                        float: left;
                        margin-top: 18px;
                        font-size: 14px;
                        .buy-num{
                            float: left;
                            line-height: 24px;
                        }.buy-num-input{
                            width: 150px;
                            height: 27px;
                            float: left;
                            span{
                                margin-right: 5px;
                                .num{
                                    width: 47px;
                                    height: 25px;
                                    border: 1px solid #c4c4c4;
                                    text-align: center;
                                    font-weight: bold;
                                }
                            }.down{
                                margin-top: 3px;
                                float: left;
                                cursor: pointer;
                            }.up{
                                margin-top: 3px;
                                float: left;
                                cursor: pointer;
                            }
                        }
                    }.con-center-btn{
                        width: 471px;
                        float: left;
                        height: 96px;
                        margin: 15px 0 0 12px;
                        .center-btn-buy{
                            width: 207px;
                            float: left;
                            height: 96px;
                            border-right: 1px solid #e5e5e5;
                            span{
                                margin: 20px 0 0 0;
                                height: 47px;
                                float: left;
                                cursor: pointer;
                            }
                        }.center-btn-wx{
                            width: 206px;
                            float: right;
                            height: 65px;
                            border: 3px solid #ececec;
                            padding: 8px;
                            margin: 4px 0 0 30px;
                            .ts{
                                width: 112px;
                                padding-left: 10px;
                                float: left;
                                height: 62px;
                                .ts1{
                                    width: 82px;
                                    float: left;
                                    height: 24px;
                                    font-size: 14px;
                                    color: #333;
                                    line-height: 24px;
                                    background: url(../img/sian_ten.jpg) 0 -54px no-repeat;
                                    padding-left: 30px;
                                    margin-top: 5px;
                                }.ts2{
                                    width: 112px;
                                    float: left;
                                    color: #a6a6a6;
                                    line-height: 26px;
                                }
                            }
                        }
                    }
                }.info-con-right{
                    width: 194px;
                    max-height: 466px;
                    height: 466px;
                    float: left;
                    margin-left: 22px;
                    border: 1px solid #e5e5e5;
                    background: #fafafa;
                    padding: 10px;
                    .con-right-info{
                        width: 194px;
                        float: left;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #e5e5e5;
                        .c1{
                            width: 200px;
                            float: left;
                            height: 84px;
                            margin: 10px 0 0 0;
                            text-align: center;
                            line-height: 22px;
                            img{
                                border: 1px solid #c1a6a6;
                            }
                        }.js{
                            color: #a3846a;
                            line-height: 18px;
                            width: 194px;
                            float: left;
                            margin: 12px 0 0 0;
                        }
                    }.right-info-pf{
                        width: 194px;
                        float: left;
                        padding: 10px 0 10px 0;
                        border-bottom: 1px solid #e5e5e5;
                        .right-info-pf1{
                            width: 194px;
                            float: left;
                            margin-top: 18px;
                            span{
                                line-height: 14px;
                            }.info-pf1-img{
                                background: url(../img/xx_1.png) left top;
                                width: 15px;
                                height: 14px;
                                float: left;
                                margin-right: 3px;
                            }
                        }.right-info-pf2{
                            width: 194px;
                            float: left;
                            margin-top: 10px;
                            .info-pf2-left{
                                float: left;
                                a{
                                    color: #3772ba;
                                }
                            }.info-pf2-right{
                                float: right;    
                            }
                        }
                    }
                }
            }
        }.product-main{
            width: 1200px;
            margin: auto;
            overflow: hidden;
            .product-main-left{
                width: 210px;
                float: left;
                overflow: hidden;
                .main-left1{
                    width: 210px;
                    height: auto;
                    overflow: hidden;
                    float: left;
                    margin-top: 15px;
                    h1{
                        font-size: 16px;
                        color: #232323;
                        line-height: 25px;
                        font-weight: 100;
                        font-family: "Microsoft Yahei";
                    }.main-left1-box{
                        width: 208px;
                        border-top: 2px solid #5a433e;
                        border-left: 1px solid #e3e3e3;
                        border-right: 1px solid #e3e3e3;
                        border-bottom: 1px solid #e3e3e3;
                        float: left;
                        padding-bottom: 1px;
                        font-family: "Microsoft Yahei";
                        li{
                            width: 196px;
                            padding-bottom: 8px;
                            float: left;
                            border-bottom: 1px dotted #dcdcdc;
                            margin: 10px 0 0 6px;
                            .left1-box-img{
                                width: 54px;
                                height: 82px;
                                float: left;
                                text-align: center;
                                border: 1px solid #e6e6e6;
                                margin-left: 2px;
                            }.left1-box-mc{
                                line-height: 18px;
                                float: left;
                                margin-left: 8px;
                                width: 130px;
                                a{
                                    font-size: 12px;
                                    color: #666666;
                                }
                            }.left1-box-price{
                                line-height: 18px;
                                float: left;
                                margin-left: 8px;
                                width: 130px;
                                .price-mc{
                                    font-size: 16px;
                                    color: #e63549;
                                    float: left;
                                    width: 130px;
                                }
                            }
                        }
                    }
                }
            }.product-main-right{
                width: 968px;
                float: right;
                overflow: hidden;
                margin: 16px 0 0 22px;
                .product-right-nav{
                    width: 967px;
                    height: 39px;
                    float: left;
                    border-bottom: 2px solid #6f4d45;
                    border-right: 1px solid #e3e3e3;
                    background: #f2f2f2;
                    .nav-list-on{
                        padding: 0 25px;
                        height: 38px;
                        float: left;
                        border-left: 1px solid #6f4d45;
                        border-top: 1px solid #6f4d45;
                        background: #6f4d45;
                        line-height: 38px;
                        font-family: "Microsoft Yahei";
                        font-size: 16px;
                        text-align: center;
                        cursor: pointer;
                        color: #fff;
                        &:hover{
                            background: #6f4d45;
                        }
                    }li{
                        padding: 0 25px;
                        height: 38px;
                        float: left;
                        border-left: 1px solid #e3e3e3;
                        border-top: 1px solid #e3e3e3;
                        background: #f2f2f2;
                        line-height: 38px;
                        font-family: "Microsoft Yahei";
                        font-size: 16px;
                        text-align: center;
                        cursor: pointer;
                        &:hover{
                            background: #ededed;
                        }
                    }.nav-list-show{
                        border-right: 1px solid #e3e3e3;
                        padding: 0 25px;
                        height: 38px;
                        float: left;
                        border-left: 1px solid #e3e3e3;
                        border-top: 1px solid #e3e3e3;
                        background: #f2f2f2;
                        line-height: 38px;
                        font-family: "Microsoft Yahei";
                        font-size: 16px;
                        text-align: center;
                        cursor: pointer;
                        &:hover{
                            background: #ededed;
                        }
                    }.right-nav-btn{
                        width: 113px;
                        height: 31px;
                        display: inline;
                        border-top: 1px solid #e3e3e3;
                        padding: 7px 0 0 10px;
                        float: right;
                    }
                }.product-right-main1{                 
                    width: 966px;
                    overflow: hidden;
                    border-left: 1px solid #e5e5e5;
                    border-right: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                    float: left;
                    .main1-type{
                        width: 966px;
                        float: left;
                        background: #fbfbfb;
                        border-bottom: 1px solid #eeeeee;
                        color: #4d4d4d;
                        .main1-type1{
                            width: 240px;
                            float: left;
                            padding-top: 22px;
                            .type1-c{
                                float: left;
                                margin: 0 0 10px 26px;
                                .type1-tit{
                                    float: left;
                                    font-weight: bold;
                                }.type1-p{
                                    float: left;
                                    margin-left: 10px;
                                    width: 138px;
                                    height: 32px;
                                    overflow: hidden;
                                }
                            }
                        }.text1{
                            border-right: 1px solid #eeeeee;
                        }
                    }.main-content{
                        width: 966px;
                        float: left;
                        padding-top: 20px;
                        overflow: hidden;
                        line-height: 0px;
                    }
                }.product-right-main2{
                    display: none;
                    width: 926px;
                    overflow: hidden;
                    border-left: 1px solid #e5e5e5;
                    border-right: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                    float: left;
                    padding: 20px;
                    .right-main2-top{
                        width: 926px;
                        float: left;
                        .main2-top-tit{
                            width: 926px;
                            height: 24px;
                            float: left;
                            border-bottom: 2px solid #e0e0e0;
                            line-height: 24px;
                            font-family: "Microsoft Yahei";
                            font-weight: bold;
                            font-size: 14px;
                        }.main2-top-p{
                            width: 926px;
                            margin-top: 26px;
                            float: left;
                            font-family: "Microsoft Yahei";
                            .hp{
                                width: 152px;
                                height: 86px;
                                float: left;
                                padding-top: 2px;
                                p{
                                    font-size: 14px;
                                    float: left;
                                    width: 152px;
                                    line-height: 24px;
                                    height: 24px;
                                }h1{
                                    font-size: 50px;
                                    color: #d83835;
                                    width: 152px;
                                    float: left;
                                    height: 50px;
                                    line-height: 50px;
                                    font-weight: normal;
                                }
                            }.pl{
                                width: 362px;
                                height: 82px;
                                float: left;
                                padding-top: 8px;
                                border-right: 1px solid #e3e3e3;
                                .hp-left{
                                    width: 190px;
                                    height: 90px;
                                    float: left;
                                    .k{
                                        width: 190px;
                                        height: 14px;
                                        float: left;
                                        line-height: 14px;
                                        margin: 8px 0 0 0;
                                        dd{
                                            display: block;
                                            .pl-load{
                                                width: 110px;
                                                height: 8px;
                                                float: left;
                                                background: #ededed;
                                                margin-top: 3px;
                                                margin-left: 8px;
                                            }
                                        }
                                    }
                                }.hp-right{
                                    width: 100px;
                                    height: 82px;
                                    float: left;
                                    line-height: 80px;
                                    font-size: 14px;
                                    margin-left: 26px;
                                }
                            }.hypl{
                                width: 333px;
                                height: 50px;
                                float: left;
                                margin: 20px 0 0 46px;
                                .pl-btn{
                                    float: left;
                                }.pl-q{
                                    float: left;
                                    font-size: 14px;
                                    margin-left: 12px;
                                    line-height: 18px;
                                }  
                            }
                        }
                    }.right-main2-bottom{
                        width: 926px;
                        float: left;
                        margin-top: 38px;
                        .main2-bottom-nav{
                            width: 926px;
                            float: left;
                            height: 36px;
                            background: #ececec;
                            font-family: "Microsoft Yahei";
                            li{
                                width: 120px;
                                float: left;
                                height: 36px;
                                text-align: center;
                                line-height: 36px;
                                font-weight: bold;
                                font-size: 14px;
                                cursor: pointer;
                            }.main2-nav-on{
                                background: #c83735;
                                color: #fff;
                            }
                        }.main2-bottom-list{
                            display: none;
                            width: 926px;
                            float: left;
                            .pl-info{
                                width: 926px;
                                float: left;
                                border-bottom: 1px dotted #dddddd;
                                padding-bottom: 12px;
                                padding-top: 10px;
                                .pl-info-pic{
                                    width: 110px;
                                    height: 102px;
                                    float: left;
                                    text-align: center;
                                    line-height: 22px;
                                    overflow: hidden;
                                }.pl-info-main{
                                    width: 788px;
                                    float: right;
                                    .info-main-tit{
                                        width: 788px;
                                        float: left;
                                        height: 20px;
                                        line-height: 20px;
                                        .main-tit-left{
                                            float: left;
                                            line-height: 16px;
                                            .pf-pic{
                                                background: url(../img/xx_1.png) left top;
                                                width: 15px;
                                                height: 14px;
                                                float: left;
                                                margin-right: 3px;
                                            }
                                        }.days{
                                            float: right;
                                            color: #888;
                                        }
                                    }.info-main-mc{
                                        width: 680px;
                                        float: left;
                                        margin-top: 16px;
                                        p{
                                            line-height: 22px;
                                        }.main-mc-hf{
                                            width: 680px;
                                            overflow: hidden;
                                            position: relative;
                                            margin-top: 6px;
                                            .j{
                                                width: 680px;
                                                height: 9px;
                                                position: absolute;
                                                background: url(../img/p_topj.jpg) 645px top no-repeat;
                                                left: 0px;
                                                top: 0px;
                                            }.hf-c{
                                                width: 652px;
                                                border: 1px solid #e8e6d3;
                                                float: left;
                                                background: #fefbee;
                                                padding: 10px 13px 10px 13px;
                                                margin-top: 8px;
                                                p{
                                                    line-height: 22px;
                                                     a{
                                                        color: #d83835;
                                                    }
                                                }                                                 
                                            }
                                        }
                                    }
                                }
                            }.bottom-list-footer{
                                width: auto;
                                height: 30px;
                                float: right;
                                font-family: "Microsoft Yahei";
                                margin-top: 26px;
                                a{
                                    border: 1px solid #cdcdcd;
                                    padding: 3px 8px 3px 8px;
                                    text-align: center;
                                    float: left;
                                    margin: 0 3px 0 3px;
                                    font-size: 14px;
                                }.list-footer-on{
                                    border: 1px solid #d22626;
                                    padding: 3px 8px 3px 8px;
                                    text-align: center;
                                    background: #d22626;
                                    float: left;
                                    color: #fff;
                                }
                            }
                        }.bottom-list-active{
                            display: block;
                        }
                    }
                }.product-right-main3{
                    display: none;
                    width: 926px;
                    overflow: hidden;
                    border-left: 1px solid #e5e5e5;
                    border-right: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                    float: left;
                    padding: 20px;
                    .right-main3-info{
                        width: 926px;
                        float: left;
                        .main3-info-tit{
                            width: 926px;
                            height: 24px;
                            float: left;
                            border-bottom: 2px solid #e0e0e0;
                            line-height: 24px;
                            font-family: "Microsoft Yahei";
                            font-weight: bold;
                            font-size: 14px;
                        }.main3-info-mc{
                            width: 926px;
                            float: left;
                            font-size: 14px;
                            font-family: "Microsoft Yahei";
                            line-height: 22px;
                            h3{
                                line-height: 30px;
                                color: #333;
                                float: left;
                                width: 926px;
                                margin-top: 6px;
                            }b{
                                font-weight: normal;
                                color: #d24c4c;
                            }.mc-p{
                                text-align: center;
                                margin-top: 16px;
                                line-height: normal;
                            }.mc-tit{
                                width: 926px;
                                height: 24px;
                                float: left;
                                border-bottom: 2px solid #e0e0e0;
                                line-height: 24px;
                                font-family: "Microsoft Yahei";
                                font-weight: bold;
                                font-size: 14px;
                            }
                        }
                    }
                }.product-right{
                    display: none;
                }.product-active{
                    display: block;
                }
            }
        }
    }
    
    //悬浮窗
    .index-xfbox{
        width: 44px;
        position: fixed;
        right: 1px;
        bottom: 1px;
        z-index: 9999;
        .index-ewm{
            width: 44px;
            height: 44px;
            float: left;
            background: url(../img/sm_06.jpg) no-repeat right top;
            margin-bottom: 10px;
            a{
                font-size: 12px;
                color: #666666;
                text-decoration: none;
            }.ewm-hover{
                display: none;
                box-shadow: 2px 2px 3px rgba(55, 55, 55, 0.05);
                width: 136px;
                height: 171px;
                overflow: hidden;
                border: 1px solid #cab9b9;
                background: #fff;
                margin: auto;
                position: absolute;
                right: 43px;
                top: -120px;
                bottom: 38px;
                font-family: "Microsoft Yahei";
                z-index: -1;
            }
        }.index-gwc{
            width: 44px;
            height: 44px;
            float: left;
            background: url(../img/right_03.jpg) no-repeat right top;
            font-family: "Microsoft Yahei";
            text-align: center;
            color: #FFFFFF;
            .gwc-hover{
                box-shadow: 2px 2px 3px rgba(55, 55, 55, 0.05);
                width: 255px;
                height: auto;
                overflow: hidden;
                border: 1px solid #cab9b9;
                background: #fff;
                margin: auto;
                position: absolute;
                right: 43px;
                bottom: 38px;
                display: none;
                font-family: "Microsoft Yahei";
                z-index: -1;
                .gwc-list{
                    width: 247px;
                    height: 105px;
                    float: left;
                    border-bottom: 1px dotted #dadada;
                    padding: 4px;
                    background: #fff;
                    position: relative;
                    .gwc-none{
                        color: #666666;
                        font-size: 14px;
                        line-height: 70px;
                    }
                }.gwc-bottom{
                    width: 242px;
                    color: #555555;
                    float: left;
                    background: #f6f1ef;
                    padding-right: 13px;
                    line-height: 20px;
                    padding-top: 5px;
                    overflow: hidden;
                    font-size: 14px;
                    .gwc-right{
                        float: right;
                        margin-top: 8px;
                        .gwc-bottom-btn{
                            display: block;
                            width: 78px;
                            height: 26px;
                            float: left;
                            color: #fff;
                            text-align: center;
                            line-height: 26px;
                            background: #8f494a;
                        }
                    }
                }
            }
        }.index-kf{
            width: 44px;
            height: 44px;
            float: left;
            background: url(../img/outkf1.jpg) no-repeat right top;
            font-family: "Microsoft Yahei";
            text-align: center;
            font-size: 14px;
            color: #fff;
            margin-top: 5px;
            cursor: pointer;
        }.index-gotop{
            width: 44px;
            height: 44px;
            float: left;
            margin-top: 5px;
            cursor: pointer;
        }
    }
    
    //底部政策
    .index-footer-wrap{
        background: url(../img/foot_x.jpg) repeat-x left top #f5f5f5;
        padding: 20px auto auto auto;
        font-family: "Microsoft Yahei";
        width: 100%;
        .footer-help1{
            width: 1200px;
            padding-bottom: 6px;
            margin: auto;
            overflow: hidden;
            .help1-list1{
                width: 146px;
                height: 126px;
                float: left;
                background: url(../img/zpbz.jpg) no-repeat;
                background-position: 20px 0;
                padding: 87px 0 0 30px;
                font-size: 14px;
                margin: 30px 150px 0 0px;
                .f-tit{
                    font-size: 16px;
                    color: #666666;
                    line-height: 28px;
                    .f-1{
                        color: #8f8f8f;
                        font-size: 14px;
                        line-height: 28px;
                        &:hover{
                            color: #666666;
                        }
                    }
                }
            }.help1-list2{
                background: url(../img/30days.jpg) no-repeat;
            }.help1-list3{
                background: url(../img/free.jpg) no-repeat;
            }.help1-list4{
                background: url(../img/gui.jpg) no-repeat;
                width: 146px;
                height: 126px;
                float: left;
                background-position: 17px 0;
                padding: 87px 0 0 38px;
                font-size: 14px;
                margin: 30px 10px 0 0px;
            }
        }.footer-help2{
            width: 1170px;
            margin: auto;
            border: 1px solid #ebebeb;
            background: #fff;
            padding: 10px 15px 10px 15px;
            overflow: hidden;
            .help2-email{
                height: 55px;
                margin-top: 10px;
                float: left;
                background: url(../img/email.jpg) no-repeat left center;
                .email-con{
                    width: 205px;
                    height: 52px;
                    float: left;
                    padding-top: 3px;
                    margin-left: 63px;
                    color: #a4a4a4;
                    .email-input{
                        width: 204px;
                        height: 32px;
                        float: left;
                        background:url(../img/dy_email.jpg)  no-repeat left center;
                        .email-dy{
                            width: 160px;
                            height: 30px;
                            border: none;
                            background: none;
                            line-height: 32px;
                            color: #666666;
                        }.email-btn{
                            width: 33px;
                            height: 30px;
                            border: none;
                            background: none;
                            cursor: pointer;
                        }
                    }
                }
            }.help2-app{
                width: 300px;
                height: 56px;
                float: left;
                margin-left: 70px;
                margin-top: 12px;
                .app-left{
                    width: 56px;
                    height: 56px;
                    float: left;
                }.app-right{
                    width: 150px;
                    height: 56px;
                    float: left;
                    margin-left: 5px;
                    .app-bottom{
                        width: 146px;
                        height: 20px;
                        float: left;
                        .app-bottom-img{
                            margin-right: 1px;
                            float: left;
                        }
                    }
                }
            }.help2-guanzhu{
                width: 100px;
                height: 80px;
                float: left;
                margin-left: 60px;
                .guanzhu-list{
                    width: 64px;
                    height: 25px;
                    float: left;
                    font-size: 14px;
                    line-height: 25px;
                    .sina{
                        background: url(../img/sian_ten.jpg) no-repeat;
                        background-position: 0 0;
                        width: 94px;
                        height: 25px;
                        display: block;
                        padding-left: 30px;
                        font-size: 14px;
                    }.qq{
                        background: url(../img/sian_ten.jpg) no-repeat;
                        background-position: 0 -27px;
                        width: 94px;
                        height: 25px;
                        display: block;
                        padding-left: 30px;
                        font-size: 14px;
                    }.wx{
                        background: url(../img/sian_ten.jpg) no-repeat;
                        background-position: 0 -54px;
                        width: 94px;
                        height: 25px;
                        display: block;
                        padding-left: 30px;
                        font-size: 14px;
                    }
                }
            }.help2-hezuo{
                width: 300px;
                height: 80px;
                float: left;
                margin-left: 50px;
            }
        }.footer-hz{
            width: 1200px;
            height: 45px;
            margin: 20px auto auto auto;
        }.footer-bottom{
            background: #fff;
            border-top: 1px solid #f0f0f0;
            padding-bottom: 15px;
            margin-top: 20px;
            .bottom-main{
                width: 980px;
                margin: auto;
                text-align: center;
                line-height: 28px;
                margin-top: 20px;
                .bottom-a{
                    margin: 0 5px 0 5px;
                }
            }   
        }.bottom-link{
            width: 980px;
            margin: 10px auto auto auto;
            a{
                margin-right: 5px;
                color: #8f8f8f;
            }
        }
    }
    
    
}
